---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="space-y-40 pt-28">
    <div class="container max-w-3xl mx-auto p-6">
      <h1 class="text-3xl font-bold mb-6">Datenschutzerklärung</h1>

      <h2 class="text-2xl font-semibold mb-4">
        Webanalyse, Monitoring und Optimierung
      </h2>
      <p class="mb-4">
        Die Webanalyse (auch als “Reichweitenmessung” bezeichnet) dient der
        Auswertung der Besucherströme unseres Onlineangebotes und kann
        Verhalten, Interessen oder demographische Informationen zu den
        Besuchern, wie z.B. das Alter oder das Geschlecht, als pseudonyme Werte
        umfassen. Mit Hilfe der Reichweitenanalyse können wir z.B. erkennen, zu
        welcher Zeit unser Onlineangebot oder dessen Funktionen oder Inhalte am
        häufigsten genutzt werden oder zur Wiederverwendung einladen. Ebenso
        können wir nachvollziehen, welche Bereiche der Optimierung bedürfen.
      </p>

      <p class="mb-4">
        Neben der Webanalyse können wir auch Testverfahren einsetzen, um z.B.
        unterschiedliche Versionen unseres Onlineangebotes oder seiner
        Bestandteile zu testen und optimieren.
      </p>

      <p class="mb-4">
        Sofern nachfolgend nicht anders angegeben, können zu diesen Zwecken
        Profile, d.h. zu einem Nutzungsvorgang zusammengefasste Daten angelegt
        und Informationen in einem Browser, bzw. in einem Endgerät gespeichert
        und aus diesem ausgelesen werden. Zu den erhobenen Angaben gehören
        insbesondere besuchte Webseiten und dort genutzte Elemente sowie
        technische Angaben, wie der verwendete Browser, das verwendete
        Computersystem sowie Angaben zu Nutzungszeiten. Sofern Nutzer in die
        Erhebung ihrer Standortdaten uns gegenüber oder gegenüber den Anbietern
        der von uns eingesetzten Dienste einverstanden erklärt haben, können
        auch Standortdaten verarbeitet werden.
      </p>

      <p class="mb-4">
        Es werden ebenfalls die IP-Adressen der Nutzer gespeichert. Jedoch
        nutzen wir ein IP-Masking-Verfahren (d.h., Pseudonymisierung durch
        Kürzung der IP-Adresse) zum Schutz der Nutzer. Generell werden die im
        Rahmen von Webanalyse, A/B-Testings und Optimierung keine Klardaten der
        Nutzer (wie z.B. E-Mail-Adressen oder Namen) gespeichert, sondern
        Pseudonyme. D.h., wir als auch die Anbieter der eingesetzten Software
        kennen nicht die tatsächliche Identität der Nutzer, sondern nur den für
        Zwecke der jeweiligen Verfahren in deren Profilen gespeicherten Angaben.
      </p>

      <h3 class="text-2xl font-semibold mb-4">Hinweise zu Rechtsgrundlagen:</h3>
      <p class="mb-4">
        Sofern wir die Nutzer um deren Einwilligung in den Einsatz der
        Drittanbieter bitten, ist die Rechtsgrundlage der Verarbeitung von Daten
        die Einwilligung. Ansonsten werden die Daten der Nutzer auf Grundlage
        unserer berechtigten Interessen (d.h. Interesse an effizienten,
        wirtschaftlichen und empfängerfreundlichen Leistungen) verarbeitet. In
        diesem Zusammenhang möchten wir Sie auch auf die Informationen zur
        Verwendung von Cookies in dieser Datenschutzerklärung hinweisen.
      </p>

      <h3 class="text-2xl font-semibold mb-4">Verarbeitete Datenarten:</h3>
      <ul>
        <li class="mb-4">
          Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
          Zugriffszeiten)
        </li>
        <li class="mb-4">
          Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen)
        </li>
      </ul>

      <h3 class="text-2xl font-semibold mb-4">Betroffene Personen:</h3>
      <p class="mb-4">
        Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
      </p>

      <h3 class="text-2xl font-semibold mb-4">Zwecke der Verarbeitung:</h3>
      <ul>
        <li class="mb-4">
          Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung
          wiederkehrender Besucher)
        </li>
        <li class="mb-4">
          Profile mit nutzerbezogenen Informationen (Erstellen von
          Nutzerprofilen)
        </li>
      </ul>

      <h3 class="text-2xl font-semibold mb-4">Sicherheitsmaßnahmen:</h3>
      <p class="mb-4">IP-Masking (Pseudonymisierung der IP-Adresse).</p>

      <h3>Rechtsgrundlagen:</h3>
      <ul>
        <li class="mb-4">Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO)</li>
        <li class="mb-4">
          Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f. DSGVO)
        </li>
      </ul>

      <h3 class="text-2xl font-semibold mb-4">
        Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:
      </h3>
      <h4>Google Analytics:</h4>
      <p class="mb-4">
        Webanalyse, Reichweitenmessung sowie Messung von Nutzerströmen.
      </p>
      <ul>
        <li class="mb-4">
          Dienstanbieter: Google Ireland Limited, Gordon House, Barrow Street,
          Dublin 4, Irland
        </li>
        <li class="mb-4">
          Datenschutzerklärung: <a
            href="https://policies.google.com/privacy"
            target="_blank">https://policies.google.com/privacy</a
          >
        </li>
        <li class="mb-4">
          Opt-Out: <a
            href="https://tools.google.com/dlpage/gaoptout?hl=de"
            target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a
          >
        </li>
      </ul>

      <!-- Weitere Abschnitte wie Social Media, Plugins etc. einfügen -->
    </div>
  </main>
</Layout>
