<section class="mb-32">
  <!-- Google Maps -->
  <div
    id="map"
    class="relative h-[300px] overflow-hidden bg-cover bg-[50%] bg-no-repeat"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.9250338111797!2d6.750106877561396!3d51.44117061553827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8bf022d3cff0f%3A0xa6e4d443b5255f26!2sRuhrorter%20Str.%2058%2C%2047059%20Duisburg!5e0!3m2!1sde!2sde!4v1736449602601!5m2!1sde!2sde"
      width="100%"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"></iframe>
  </div>

  <!-- Content Container -->
  <div class="container px-6 md:px-12 mx-auto">
    <div
      class="block mx-auto max-w-3xl text-center rounded-xl bg-[hsla(0,0%,100%,0.8)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:py-16 md:px-12 -mt-[100px] backdrop-blur-[30px]"
    >
      <div class="mx-auto max-w-2xl space-y-6 text-center md:space-y-12">
        <h2 class="text-title text-5xl font-bold lg:text-6xl">
          So
          <span
            class="bg-gradient-to-b from-primary to-secondary bg-clip-text text-transparent"
            >finden</span
          > Sie uns
        </h2>
        <p class="text-body text-xl">
          Unser Matratzen-Outlet befindet sich in der <span
            class="font-bold text-black"
            >Ruhrorterstr. 58 in 47059 Duisburg</span
          >. Die Parkplätze für unsere Kunden befinden sich direkt hinter dem
          Gebäude, sodass Sie bequem und stressfrei einkaufen können. Kommen Sie
          vorbei und finden Sie Ihre perfekte Matratze - wir freuen uns auf
          Ihren Besuch!
        </p>
        <a
          href="https://maps.google.com/maps/dir//Ruhrorter+Str.+58+47059+Duisburg/@51.4411673,6.7526818,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x47b8bf022d3cff0f:0xa6e4d443b5255f26"
          class="relative flex h-11 items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 w-max mx-auto"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="relative text-base font-semibold text-white"
            >Navigation starten</span
          >
        </a>
      </div>
    </div>
  </div>
</section>
