---
import { Image } from "astro:assets";
import Bedroom from "../assets/images/bed_1.jpeg";
import Bed from "../assets/icons/bed.svg.astro";
import Euro from "../assets/icons/euro.svg.astro";
import Headset from "../assets/icons/headset.svg.astro";
import Truck from "../assets/icons/truck.svg.astro";
---

<section id="welcome">
  <div class="mx-auto max-w-5xl space-y-12 px-6">
    <div class="mx-auto max-w-2xl space-y-6 text-center md:space-y-12">
      <h2 class="text-title text-5xl font-bold lg:text-6xl">
        <span
          class="bg-gradient-to-b from-primary to-secondary bg-clip-text text-transparent"
          >Willkommen</span
        > im Matratzen-Outlet Duisburg
      </h2>
      <p class="text-body text-xl">
        Wir heißen Sie herzlich im Matratzen-Outlet Duisburg willkommen! Bei uns
        finden Sie eine große Auswahl an <span class="font-bold text-black">
          Matratzen führender Hersteller</span
        > - und das zu unschlagbaren Preisen. Ob Sie auf der Suche nach einer neuen
        Matratze für Ihr Schlafzimmer oder nach praktischen Bettwaren sind, bei uns
        werden Sie fündig.
      </p>
    </div>
    <Image
      src={Bedroom}
      alt="Alt Text dhidaihdaidhasidjhsaidjhasidhsa"
      class="w-full h-full rounded-3xl"
    />

    <div class="grid md:grid-cols-2 max-md:max-w-lg mx-auto gap-12">
      <div
        class="p-4 flex gap-6 rounded-lg hover:shadow-md hover:scale-105 transition-all duration-300"
      >
        <Bed />
        <div>
          <h3 class="text-title text-2xl font-semibold mb-3">Große Auswahl</h3>
          <p class="text-body text-lg">
            Matratzen und Bettwaren verschiedenster Marken und Hersteller
          </p>
        </div>
      </div>
      <div
        class="p-4 flex gap-6 rounded-lg hover:shadow-md hover:scale-105 transition-all duration-300"
      >
        <Euro />
        <div>
          <h3 class="text-title text-2xl font-semibold mb-3">Beste Preise</h3>
          <p class="text-body text-lg">
            Sparen Sie dank unserer Direktabnahme von Überbeständen und
            Sonderposten
          </p>
        </div>
      </div>

      <div
        class="p-4 flex gap-6 rounded-lg hover:shadow-md hover:scale-105 transition-all duration-300"
      >
        <Headset />
        <div>
          <h3 class="text-title text-2xl font-semibold mb-3">
            Kompetente Beratung
          </h3>
          <p class="text-body text-lg">
            Unser kompetentes Team hilft Ihnen dabei, die perfekte Matratze für
            Ihre Bedürfnisse zu finden
          </p>
        </div>
      </div>

      <div
        class="p-4 flex gap-6 rounded-lg hover:shadow-md hover:scale-105 transition-all duration-300"
      >
        <Truck />
        <div>
          <h3 class="text-title text-2xl font-semibold mb-3">
            Schnelle Lieferung
          </h3>
          <p class="text-body text-lg">
            Profitieren Sie von einer schnellen Lieferung direkt zu Ihnen nach
            Hause
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
